includes:
    - vendor/mahocommerce/maho-phpstan-plugin/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    strictRules:
        allRules: false
        matchingInheritedMethodNames: true
        disallowedBacktick: true

    level: 8
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    treatPhpDocTypesAsCertain: false
    reportMaybesInPropertyPhpDocTypes: true
    reportMaybesInMethodSignatures: false

    fileExtensions:
        - php
        - phtml

    paths:
        - app

    excludePaths:
        analyse:
            - vendor/mahocommerce/maho-phpstan-plugin/mock
        analyseAndScan:
            - vendor/mahocommerce/maho-phpstan-plugin/mock

    ignoreErrors:
        - identifier: missingType.iterableValue
        -
            identifier: property.missingOverride
            reportUnmatched: false